@font-face {
    font-family: "YS Text";
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/text-regular.woff') format('woff');
}

@font-face {
   font-family: "YS Text";
   font-style: normal;
   font-weight: 500;
   src: url('./assets/fonts/text-medium.woff') format('woff');
}

@font-face {
    font-family: "YS Text";
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/text-black.woff') format('woff');
}


.header__heading {
    position: relative;
    left: 50px;
    width: 420px;
    height: 196px;
    margin-top: 72px;
    color: #21201F;
    margin-top: 72px;
    font-family: "YS Text";
    font-size: 72px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.96px;
}

.header__inner-wrapper {
    position: absolute;
    width: 420px;
}

.header__text {
    margin-top: 48px;
    color: #21201F;
    font-family: YS Text;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
}

.header__new-price {
    position: relative;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    width: 79px;
    height: 33px;
    border-radius: 500px;
    background: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%); 
}

.header___new-price-text {
    color: #2E2C21;
    font-family: YS Text;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
}

.header__old-price {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 11px 12px;
    width: 115px;
    height: 33px;
    border-radius: 500px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
}

.header__old-price-text {
    position: absolute;
    color: #808080;
    font-family: YS Text;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.header__old-price::after {
    position: relative;
    bottom: 5px;
    width: 46px;
    content: url('./assets/icons/Vector\ 253.svg');
}

.header__price-wrapper {
    display: flex;
    position: relative;
    bottom: 30px;
    left: 100px;
}

.header__button {
    width: 318px;
    height: 65px;
    text-align: center;
    color: #21201F;
    font-family: YS Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    border-radius: 36px;
    background: #FFDE40;
    box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
}


.header__image {
    position: absolute;
    top: 3px;
    left: 370px;
    width: 744px;
    height: 618px;
}